# Backend
SECRET_KEY=supersecretchangeme
ACCESS_TOKEN_EXPIRE_MINUTES=30
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=fastapi_db
API_V1_STR=/api/v1

# Frontend
VITE_API_URL=http://localhost:8000
